h1 {
    color: rgb(7, 3, 49);
    text-align: center;
    font-weight: 900;
    margin: 0; /* Remove margin to eliminate space */
}

.spaceview {
    padding-top: 20px; /* Adjust padding to avoid extra space */
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    background-color: rgb(54, 143, 222);
}


