{% extends 'spaceview/layout.html' %}

{% block title %}
home
{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'spaceview/spaceview.css' %}">
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <div class="spaceview">
        <h1 style="color: black;">Welcome to Project StellarView!</h1>
        <!--create a three.js scene to present the 3D visualization-->
        <a href="{% url 'spaceView:view' %}">view</a>
    </div>
{% endblock %}
